

<%=form_with(model: @feedback) do |f| %>
  <%= f.hidden_field :user_id, value: @user.id %>
  <% @feedbackColumns.each do |column| %>
    <%= f.label @questions.next %>
    <% (0..10).each do |opcao| %>
      <div>
        <%= f.radio_button column, opcao %>
        <%= f.label column, opcao %>
      </div>
    <% end %>
    <br>
  <% end %>
  <%=f.label "Comentarios Finais" %><br>
  <%=f.text_field :comments %>
  <br>
  <%=f.submit "Enviar feedback" %>
<% end %>