<!DOCTYPE html>
<html>
  <head>
    <title>Employees Feedback</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
<!--    <script src="https://cdn.tailwindcss.com"></script>-->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  </head>

  <body>

    <% if not route_page? %>
      <%=render "layouts/partials/header" %>
    <% end %>
    <main>

      <%=yield %>
    </main>


  </body>
  <%#=render "layouts/partials/footer" %>
</html>
